.fix-size {
  height: 199px;
  width: 199px;
}

.center_img {
  display: block;
  margin: auto;
}

.flag:not(.selected) {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(50%);
  filter: gray; /* IE 6-9 */
}