/*
 *= require wallop
 */

$main-height: 400px;
$button-offset: -3%;

.Wallop {
  max-height: $main-height;
  width: auto;
}

.Wallop-item {
  max-height: $main-height;
  width: auto;
  text-align: center;

  img {
    max-width: 100%;
    max-height: $main-height;
    height: auto;
  }
}

.Wallop-buttonPrevious,
.Wallop-buttonNext {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 20px/22px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}

.Wallop-buttonPrevious {
  left: $button-offset;
}

.Wallop-buttonNext {
  right: $button-offset;
}
